<ion-navbar *navbar>
  <ion-title>
    <h1>Sell</h1>
  </ion-title>
</ion-navbar>

<ion-content padding class="bg-light">
  <div *ngIf="chem.currentPrice < 0">
    <h2>{{chem.name}}</h2>
    <p>
      <b>Warning</b>: {{chem.name}} is not sold here!
    </p>
    <p>
      You're dumping your {{chem.name}} if you sell.
    </p>
  </div>
  <div *ngIf="chem.currentPrice > 0">
    <h2>{{chem.name}} @ {{chem.currentPrice}} caps</h2>
    <p *ngIf="getProfitMargin() != null">
      Profit Margin: {{getProfitMargin()}} %
    </p>
    <p *ngIf="getProfitMargin() == null">
      You didn't even pay for these chems...sweet
    </p>
    <p *ngIf="player.guards > 0">
      Guard Share: {{getGuardsShare()}} caps
    </p>
  </div>

  <div class="spacer">
    <span></span>
  </div>

  <p>Quantity</p>
  <ion-item class="bg-very-light">
    <ion-range min="1" [max]="maxSellable" pin="true" 
               [(ngModel)]="quantity">
      <ion-label range-left>1</ion-label>
      <ion-label range-right>{{maxSellable}}</ion-label>
    </ion-range>
  </ion-item>
  <button block *ngIf="chem.currentPrice > 0" (click)="sell()">
    Sell for {{quantity * chem.currentPrice}} caps
  </button>
  <button block *ngIf="chem.currentPrice < 0" (click)="dump()">
    Dump {{quantity}} {{chem.name}}
  </button>
</ion-content>