<ion-navbar *navbar>
  <ion-title>
    <h1>Sell</h1>
  </ion-title>
</ion-navbar>

<ion-content padding class="bg-light">
  <h2>{{chem.name}} @ {{chem.currentPrice}} caps</h2>
  <p *ngIf="getProfitMargin() != null">
    Profit Margin: {{getProfitMargin()}} %
  </p>
  <p *ngIf="getProfitMargin() == null">
    You didn't even pay for these chems...sweet
  </p>
  <p *ngIf="player.guards > 0">
    Guard Share: {{getGuardsShare()}} caps
  </p>

  <div class="spacer">
    <span></span>
  </div>

  <p>Quantity</p>
  <ion-item class="bg-very-light">
    <ion-range min="1" [max]="maxSellable" pin="true" 
               [(ngModel)]="quantity">
      <ion-label range-left>1</ion-label>
      <ion-label range-right>{{maxSellable}}</ion-label>
    </ion-range>
  </ion-item>
  <button block (click)="sell()">
    Sell for {{quantity * chem.currentPrice}} caps
  </button>
</ion-content>