<ion-navbar *navbar>
  <ion-title>
    Main Menu
  </ion-title>
</ion-navbar>

<ion-content padding class="bg-light">
  <div class="game-title">
    <h1>Chem</h1>
    <h1>Caravan</h1>
  </div>
  <div class="bottom-button-group" *ngIf="!showSignup">
  	<button block class="bottom-button" 
            (click)="continue()" [disabled]="player == null">
      Continue
    </button>
  	<button danger block  class="bottom-button"
            (click)="getUserConfirmation()">
      New Game
    </button>
    <button block class="bottom-button"
            (click)="presentInstructionModal()">
      Instructions
    </button>
  </div>
  <div class="onboarding" *ngIf="showSignup">
    <ion-item class="bg-light">
      <ion-label floating>Name</ion-label>
      <ion-textarea [(ngModel)]="name"></ion-textarea>
    </ion-item>
    <button block [disabled]="name.length < 1" (click)="createPlayer()">
      Start
    </button>
  </div>
</ion-content>