$light:   #F2E2C1;
$dark:    #89714D;

button {
  min-height: 35px;
  height: 100%;
}

h1 {
  color: color($colors, very-light);
  font-size: larger;
  font-weight: bold;
}

.light-bg {
  background: $light;
}

.no-vertical-padding {
  padding: 0px 5px 0px 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}