h1 {
  color: color($colors, very-light);
  font-size: larger;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: color($colors, dark);
}

.bg-light {
  background-color: color($colors, light);
}

.bg-medium {
  background-color: color($colors, medium);
}

.text-very-light {
  color: color($colors, very-light);
}

.spacer {
  margin-bottom: 50px;
}

.bottom-button-group {
  position: fixed;
  bottom: 0;
  width: 90%;
}

.bottom-button {
  margin-bottom: 20px;
}