ion-col {
  text-align: center;
  max-width: 50%;
}

.item h1 {
  font-size: larger;
  font-weight: bold;
  color: color($colors, dark);
  text-align: center;
}

.item h2 {
  font-size: large;
  font-weight: bold;
  color: color($colors, dark);
}

.item h3 {
  font-size: medium;
  color: color($colors, dark);
}

.medium-bg {
  background-color: color($colors, medium);
}

.light-bg {
  background-color: color($colors, light);
}