<ion-navbar *navbar>
  <button side="left" (click)="presentTravelModal()">
    <ion-icon name="map"></ion-icon>
  </button>
  <ion-title>
    {{settlement.name}}
  </ion-title>
</ion-navbar>

<ion-content>
  <button class="center" *ngIf="settlement.service" (click)="goToService()">
    {{settlement.service.name}}
  </button>
  <ion-list>
    <ion-item *ngFor="let chem of availableChems">
      <div class="eqi-container">
        <div class="center-vertical">
          <span>{{chem.name}}</span>
        </div>
        <div class="center-vertical">
          <button (click)="buy(chem)">Buy @ {{chem.currentPrice}} caps</button>
        </div>
        <div class="center-vertical">
          <button (click)="sell(chem)" *ngIf="player.quantityCarrying(chem) > 0">
            Sell ({{player.quantityCarrying(chem)}} @ {{player.pricePaid(chem)}} caps)
          </button>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-toolbar position="bottom">
  <div class="eqi-container">
    <div class="top-padding impact-text">
      <ion-icon name="cash" isActive="false"></ion-icon>
      {{player.caps}}
    </div>
    <div class="center-vertical">
      <button>
        <ion-icon outline name="contact"></ion-icon>
      </button>
    </div>
    <div class="top-padding impact-text">
      <ion-icon name="archive" isActive="false"></ion-icon>
      {{player.getAvailableSpace()}}
    </div>
  </div>
</ion-toolbar>

<ion-nav #mycontent [root]="rootPage"></ion-nav>