<ion-navbar *navbar>
  <ion-title>
    <h1>{{settlement.name}}</h1>
  </ion-title>
  <ion-buttons start>
    <button disabled="true">
      <ion-icon very-light name="cash" isActive="false"></ion-icon>
      <span very-light>{{player.caps}}</span>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button disabled="true">
      <ion-icon very-light name="archive" isActive="false"></ion-icon>
      <span></span><span very-light>{{player.getAvailableSpace()}}</span>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <button secondary class="center" *ngIf="settlement.service" (click)="goToService()">
    {{settlement.service.name}}
  </button>
  <ion-list inset>
    <ion-item class="light-bg" *ngFor="let chem of availableChems">
      <ion-row>
        <ion-col width-33 class="no-vertical-padding">
          <h4 dark>{{chem.name}}</h4>
          <p dark>{{chem.currentPrice}} caps each</p>
          <p dark *ngIf="player.quantityCarrying(chem) > 0">
              {{player.pricePaid(chem)}} avg. paid
          </p>
        </ion-col>
        <ion-col width-33 class="no-vertical-padding">
          <button block (click)="buy(chem)">Buy</button>
        </ion-col>
        <ion-col width-33 class="no-vertical-padding">
          <button danger block (click)="sell(chem)" 
                  *ngIf="player.quantityCarrying(chem) > 0">
            Sell ({{player.quantityCarrying(chem)}})
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<ion-toolbar position="bottom">
  <div class="flex-container">
    <div class="flex-element">
      <button clear (click)="presentTravelModal()">
        <ion-icon very-light name="map"></ion-icon>
      </button>
    </div>
    <div class="flex-element">
      <button clear (click)="presentStatusModal()">
        <ion-icon very-light name="contact"></ion-icon>
      </button>
    </div>
    <div class="flex-element">
      <button clear>
        <ion-icon very-light name="more"></ion-icon>
      </button>
    </div>
  </div>
</ion-toolbar>

<ion-nav #mycontent [root]="rootPage"></ion-nav>