<ion-toolbar>
  <ion-title>Travel</ion-title>
  <ion-buttons start>
    <button (click)="dismiss(null)">
      <span very-light showWhen="ios">Cancel</span>
      <ion-icon very-light name="md-close" showWhen="android,windows"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list inset>
    <ion-item class="medium-bg">
      <ion-row>
    <ion-col>
      <h2>Settlement</h2>
    </ion-col>
    <ion-col>
      <h2>Service</h2>
    </ion-col>
  </ion-row>
    </ion-item>
    <ion-item class="light-bg" *ngFor="let settlement of settlements" 
              (click)="dismiss(settlement)">
      <ion-row>
        <ion-col>
          <h3>{{settlement.name}}</h3>
        </ion-col>
        <ion-col>
          <h3 *ngIf="settlement.service != null">
            [ {{settlement.service.name}} ]
          </h3>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>